<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>PedidosApp</title>
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{../../fontawesome/css/all.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{../../pedidos.css}">

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.16.1/dist/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
<script th:src="@{../../pedidos.js}"></script>

</head>
<body>
	<div th:replace="navbar :: navbar"></div>

	<div>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Referencia</th>
					<th scope="col">Fecha pedido</th>
					<th scope="col">Fecha entrega</th>
					<th scope="col">Precio</th>
					<th scope="col"></th>
					<th scope="col"><a data-toggle="modal"
						data-target="#searchModal" href="#searchModal"><i
							class="fas fa-search"></i></a></th>
					<th scope="col"><a th:href="@{/pedidos/edit/0}"><i
							class="fas fa-plus"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${list}">
					<th scope="row" th:text="${pedido.referencia}"></th>
					<td th:text="${pedido.fechaPedido}"></td>
					<td th:text="${pedido.fechaEntrega}"></td>
					<td th:text="${pedido.precio}"></td>
					<td><a th:href="@{/pedidos/detail/{id}(id=${pedido.id})}"><i
							class="far fa-eye"></i></a></td>
					<td><a th:href="@{/pedidos/edit/{id}(id=${pedido.id})}"><i
							class="fas fa-edit"></i> </a></td>
					<td><a data-toggle="modal" data-target="#deletePedidoModal"
						th:attr="data-pedido=${pedido.id}" href="#deletePedidoModal"><i
							class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="deletePedidoModal" tabindex="-1"
		role="dialog" aria-labelledby="deletePedidoModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deletePedidoModalLabel">¿Seguro
						que desea eliminar?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" data-dismiss="modal" href="#">Cancelar</a>
					<a id="button-deletePedido" class="btn btn-danger">Eliminar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
		aria-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">Buscar pedido</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action=""></form>
				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" data-dismiss="modal" href="#">Cancelar</a>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(
				function() {
					$('#deletePedidoModal')
							.on(
									'show.bs.modal',
									function(event) {
										var button = $(event.relatedTarget);
										var pedidoId = button.data('pedido');
										var modal = $(this);

										var baseLink = /*[[@{/}]]*/; 
										var pageName = 'pedidos/delete/'+ pedidoId; 
											/*[+
										var pageLink = baseLink + pageName;
											+]*/

										document.getElementById(
												"button-deletePedido")
												.setAttribute("href", pageLink);
									});
				});
		/*]]>*/
	</script>

</body>
</html>