<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PedidosApp</title>
<link th:href="@{../../bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{../../fontawesome/css/all.css}" rel="stylesheet">
<script th:src="@{../../bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Referencia</th>
				<th scope="col">Fecha pedido</th>
				<th scope="col">Fecha entrega</th>
				<th scope="col">Precio</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td><a><i class="far fa-eye"></i></a></td>
				<td><a><i class="fas fa-edit"></i></a></td>
				<td><a><i class="fas fa-trash-alt"></i></a></td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td><a><i class="far fa-eye"></i></a></td>
				<td><a><i class="fas fa-edit"></i></a></td>
				<td><a><i class="fas fa-trash-alt"></i></a></td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td><a><i class="far fa-eye"></i></a></td>
				<td><a><i class="fas fa-edit"></i></a></td>
				<td><a><i class="fas fa-trash-alt"></i></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>